{% extends 'base.html.twig' %}

{% block title %}New Pronostic{% endblock %}

{% block body %}
    <h1>Create new Pronostic</h1>

    {{ include('pronostic/_form.html.twig') }}

    <a href="{{ path('pronostic_index') }}">back to list</a>
{% endblock %}